function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto Ball_c1c1a1e1_af2c_4592_9cab_c167c3bd4c00
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto Ball_feeee1e3_31ba_406e_974a_bafd397bae0d
label Ball_c1c1a1e1_af2c_4592_9cab_c167c3bd4c00
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label Ball_feeee1e3_31ba_406e_974a_bafd397bae0d
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto Ball_5f78776e_6cf4_4c05_be7c_521e5ad5f95f
push this 4
push this 5
add
pop this 4
goto Ball_11a25346_d429_4b7d_8811_7c1a8d31b9fe
label Ball_5f78776e_6cf4_4c05_be7c_521e5ad5f95f
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto Ball_d281f055_5560_4560_bb6b_14e05988cbb3
push this 7
not
if-goto Ball_8dc7731e_2ce0_417a_b52e_7641e3641575
push this 0
push constant 4
add
pop this 0
goto Ball_4949c1a5_9f47_47b4_a3e8_35fdf10a6cb8
label Ball_8dc7731e_2ce0_417a_b52e_7641e3641575
push this 1
push constant 4
add
pop this 1
label Ball_4949c1a5_9f47_47b4_a3e8_35fdf10a6cb8
goto Ball_321df2ec_6635_4070_b679_9a103001cdba
label Ball_d281f055_5560_4560_bb6b_14e05988cbb3
push this 7
not
if-goto Ball_b082eb86_55c1_4726_b52a_a99138602261
push this 0
push constant 4
sub
pop this 0
goto Ball_5d5147cd_2d54_42a3_aa9b_8d3953a2a395
label Ball_b082eb86_55c1_4726_b52a_a99138602261
push this 1
push constant 4
sub
pop this 1
label Ball_5d5147cd_2d54_42a3_aa9b_8d3953a2a395
label Ball_321df2ec_6635_4070_b679_9a103001cdba
label Ball_11a25346_d429_4b7d_8811_7c1a8d31b9fe
push this 8
not
if-goto Ball_a6bf7a1c_fa1b_4b4b_b782_02af7d7d311b
push this 7
not
if-goto Ball_6f9bad42_f71f_4ad0_8dbb_529ca9f9e464
push this 1
push constant 4
add
pop this 1
goto Ball_2ecaa5ba_6527_4e0f_af7d_884c1c68e42f
label Ball_6f9bad42_f71f_4ad0_8dbb_529ca9f9e464
push this 0
push constant 4
add
pop this 0
label Ball_2ecaa5ba_6527_4e0f_af7d_884c1c68e42f
goto Ball_c51e3e11_9135_407a_9d97_8891bbfe8459
label Ball_a6bf7a1c_fa1b_4b4b_b782_02af7d7d311b
push this 7
not
if-goto Ball_c7196264_8343_45ad_9477_0740ab6b7513
push this 1
push constant 4
sub
pop this 1
goto Ball_1e2397e0_eda1_4de8_8bc4_8f3ca2f891d8
label Ball_c7196264_8343_45ad_9477_0740ab6b7513
push this 0
push constant 4
sub
pop this 0
label Ball_1e2397e0_eda1_4de8_8bc4_8f3ca2f891d8
label Ball_c51e3e11_9135_407a_9d97_8891bbfe8459
push this 0
push this 10
gt
not
not
if-goto Ball_b199d137_ccf1_443d_9f62_942ba07e8081
push constant 1
pop this 14
push this 10
pop this 0
label Ball_b199d137_ccf1_443d_9f62_942ba07e8081
push this 0
push this 11
lt
not
not
if-goto Ball_0c386c68_09ca_479f_861f_d49a9203695d
push constant 2
pop this 14
push this 11
pop this 0
label Ball_0c386c68_09ca_479f_861f_d49a9203695d
push this 1
push this 12
gt
not
not
if-goto Ball_36a46308_b365_4926_b045_17ae8c8a5833
push constant 3
pop this 14
push this 12
pop this 1
label Ball_36a46308_b365_4926_b045_17ae8c8a5833
push this 1
push this 13
lt
not
not
if-goto Ball_5e052688_051f_4c20_b010_d649f981c80f
push constant 4
pop this 14
push this 13
pop this 1
label Ball_5e052688_051f_4c20_b010_d649f981c80f
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto Ball_744395c6_e7a1_4cd6_b8eb_7186d805946f
push constant 10
pop local 4
goto Ball_1ebaebda_8188_455b_b405_bae160cdbb93
label Ball_744395c6_e7a1_4cd6_b8eb_7186d805946f
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto Ball_bce7fb00_9278_4439_9a61_bd1a6106730d
push constant 20
pop local 4
goto Ball_3495e7f8_9b3e_4047_b779_e4f52dddbe98
label Ball_bce7fb00_9278_4439_9a61_bd1a6106730d
push constant 5
pop local 4
label Ball_3495e7f8_9b3e_4047_b779_e4f52dddbe98
label Ball_1ebaebda_8188_455b_b405_bae160cdbb93
push this 14
push constant 1
eq
not
if-goto Ball_33ee1519_6270_42d1_acdc_8f9510e4daad
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_eb4ecc7a_2e3f_444d_b865_f2d433a690b5
label Ball_33ee1519_6270_42d1_acdc_8f9510e4daad
push this 14
push constant 2
eq
not
if-goto Ball_f8fb4e9f_cc14_4368_a60d_91c6d975a20e
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_0f615a3a_170b_4169_b128_98fb62b4057f
label Ball_f8fb4e9f_cc14_4368_a60d_91c6d975a20e
push this 14
push constant 3
eq
not
if-goto Ball_42c30e5f_6254_4f9e_8a4c_85dc1ee049a3
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto Ball_74a1cf57_2af2_49cd_b9a8_eb97ae4f1475
label Ball_42c30e5f_6254_4f9e_8a4c_85dc1ee049a3
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label Ball_74a1cf57_2af2_49cd_b9a8_eb97ae4f1475
label Ball_0f615a3a_170b_4169_b128_98fb62b4057f
label Ball_eb4ecc7a_2e3f_444d_b865_f2d433a690b5
push local 0
push local 1
push pointer 0
call Ball.setDestination 3
pop temp 0
push constant 0
return
