function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto Ball_88b238d6_8e87_404e_9304_139e0ea67717
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto Ball_ca91e6f1_87b2_4231_b40f_8603bf02e8a7
label Ball_88b238d6_8e87_404e_9304_139e0ea67717
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label Ball_ca91e6f1_87b2_4231_b40f_8603bf02e8a7
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto Ball_f9bf7f6c_edaf_49e9_b323_ab4ee0be4d0c
push this 4
push this 5
add
pop this 4
goto Ball_16ae2977_ff4b_4732_b7d6_0730a83dfc23
label Ball_f9bf7f6c_edaf_49e9_b323_ab4ee0be4d0c
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto Ball_70308097_662f_4dc5_bb9c_f59372ff8e09
push this 7
not
if-goto Ball_d776ff37_1efe_4f9d_ad5a_ed978a7484e2
push this 0
push constant 4
add
pop this 0
goto Ball_f0251bd8_8443_455c_927b_da867b04f095
label Ball_d776ff37_1efe_4f9d_ad5a_ed978a7484e2
push this 1
push constant 4
add
pop this 1
label Ball_f0251bd8_8443_455c_927b_da867b04f095
goto Ball_c13493f8_8f0f_43f9_99f5_b3bc709cc233
label Ball_70308097_662f_4dc5_bb9c_f59372ff8e09
push this 7
not
if-goto Ball_3ec31197_9ae2_4b0c_a0b4_1e19694a0c94
push this 0
push constant 4
sub
pop this 0
goto Ball_1bf56596_0bf1_4f89_a940_c74bcbfeca4c
label Ball_3ec31197_9ae2_4b0c_a0b4_1e19694a0c94
push this 1
push constant 4
sub
pop this 1
label Ball_1bf56596_0bf1_4f89_a940_c74bcbfeca4c
label Ball_c13493f8_8f0f_43f9_99f5_b3bc709cc233
label Ball_16ae2977_ff4b_4732_b7d6_0730a83dfc23
push this 8
not
if-goto Ball_9869d935_87d0_421c_bcc7_521b2be74505
push this 7
not
if-goto Ball_6d56d13a_25fd_40f4_ba74_342d8b57ce76
push this 1
push constant 4
add
pop this 1
goto Ball_eaf4f53d_92cf_47b0_a6fd_173a014c714b
label Ball_6d56d13a_25fd_40f4_ba74_342d8b57ce76
push this 0
push constant 4
add
pop this 0
label Ball_eaf4f53d_92cf_47b0_a6fd_173a014c714b
goto Ball_3f756a04_2fda_4d85_b230_4b0203d50b10
label Ball_9869d935_87d0_421c_bcc7_521b2be74505
push this 7
not
if-goto Ball_8a70f2be_c3a2_49f6_ac9d_2eac3b408fea
push this 1
push constant 4
sub
pop this 1
goto Ball_87b6b1db_68fa_4427_a7ef_c15aee585aad
label Ball_8a70f2be_c3a2_49f6_ac9d_2eac3b408fea
push this 0
push constant 4
sub
pop this 0
label Ball_87b6b1db_68fa_4427_a7ef_c15aee585aad
label Ball_3f756a04_2fda_4d85_b230_4b0203d50b10
push this 0
push this 10
gt
not
not
if-goto Ball_8315e4a9_b4f5_4f76_b3bc_7f111fa53600
push constant 1
pop this 14
push this 10
pop this 0
label Ball_8315e4a9_b4f5_4f76_b3bc_7f111fa53600
push this 0
push this 11
lt
not
not
if-goto Ball_f7c26e6c_7536_44c2_b7dd_d1a8a39a79d4
push constant 2
pop this 14
push this 11
pop this 0
label Ball_f7c26e6c_7536_44c2_b7dd_d1a8a39a79d4
push this 1
push this 12
gt
not
not
if-goto Ball_f4ec06cd_a70e_4ce5_87f0_19d778acdd2f
push constant 3
pop this 14
push this 12
pop this 1
label Ball_f4ec06cd_a70e_4ce5_87f0_19d778acdd2f
push this 1
push this 13
lt
not
not
if-goto Ball_9f565ead_c8ad_4159_98aa_1d4bc4ca99b1
push constant 4
pop this 14
push this 13
pop this 1
label Ball_9f565ead_c8ad_4159_98aa_1d4bc4ca99b1
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto Ball_6ad0a69e_d850_456f_abbb_7e1d0c134c80
push constant 10
pop local 4
goto Ball_aad8d1b3_7e78_4aec_b019_a3a39cfad077
label Ball_6ad0a69e_d850_456f_abbb_7e1d0c134c80
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto Ball_64d56528_1dce_4e93_b12e_114b91073b5e
push constant 20
pop local 4
goto Ball_ec64b2d6_87cd_4780_9ff5_0f327cc7276d
label Ball_64d56528_1dce_4e93_b12e_114b91073b5e
push constant 5
pop local 4
label Ball_ec64b2d6_87cd_4780_9ff5_0f327cc7276d
label Ball_aad8d1b3_7e78_4aec_b019_a3a39cfad077
push this 14
push constant 1
eq
not
if-goto Ball_6b7478e3_9bf5_4f9f_8d10_eb3b5ac098a8
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_3e67e132_3214_42ab_b559_5be0afe485a1
label Ball_6b7478e3_9bf5_4f9f_8d10_eb3b5ac098a8
push this 14
push constant 2
eq
not
if-goto Ball_e4abc4da_d832_44e6_869c_db1f8bfa6c63
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_e0863bdd_0862_4820_8754_d8efebb2124c
label Ball_e4abc4da_d832_44e6_869c_db1f8bfa6c63
push this 14
push constant 3
eq
not
if-goto Ball_6df035eb_9a99_4956_8f13_4a5e9f2292d4
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto Ball_d0e8ad49_133c_4093_b5e0_2aae0236f4d2
label Ball_6df035eb_9a99_4956_8f13_4a5e9f2292d4
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label Ball_d0e8ad49_133c_4093_b5e0_2aae0236f4d2
label Ball_e0863bdd_0862_4820_8754_d8efebb2124c
label Ball_3e67e132_3214_42ab_b559_5be0afe485a1
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
