function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 0
push this 0
sub
pop this 2
push argument 1
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto Ball_5b02d946_172d_4f34_b3da_ee8c41ad230d
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 1
lt
pop this 8
push this 0
push argument 0
lt
pop this 9
goto Ball_eefbb287_851d_4ad4_a64a_27cb113aa5cb
label Ball_5b02d946_172d_4f34_b3da_ee8c41ad230d
push this 0
push argument 0
lt
pop this 8
push this 1
push argument 1
lt
pop this 9
label Ball_eefbb287_851d_4ad4_a64a_27cb113aa5cb
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto Ball_cd14226e_cdd9_4f04_ab29_f4df47b1fdd4
push this 4
push this 5
add
pop this 4
goto Ball_beccf45f_963e_4d11_987f_c8dda6cd0f23
label Ball_cd14226e_cdd9_4f04_ab29_f4df47b1fdd4
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto Ball_0a6248b3_cd7c_402a_aea7_562c3c7f4f1d
push this 7
not
if-goto Ball_ceff98a7_52f3_4229_8a4b_b020739a5201
push this 0
push constant 4
add
pop this 0
goto Ball_94a0e4aa_a1ea_4d7c_8500_dc71ca4a9673
label Ball_ceff98a7_52f3_4229_8a4b_b020739a5201
push this 1
push constant 4
add
pop this 1
label Ball_94a0e4aa_a1ea_4d7c_8500_dc71ca4a9673
goto Ball_2078a46c_b365_4d4d_94c5_930ced7d02d0
label Ball_0a6248b3_cd7c_402a_aea7_562c3c7f4f1d
push this 7
not
if-goto Ball_788c0442_4896_4645_804b_45b0693acf8c
push this 0
push constant 4
sub
pop this 0
goto Ball_c0513557_eaf8_407c_8204_94f780d5d831
label Ball_788c0442_4896_4645_804b_45b0693acf8c
push this 1
push constant 4
sub
pop this 1
label Ball_c0513557_eaf8_407c_8204_94f780d5d831
label Ball_2078a46c_b365_4d4d_94c5_930ced7d02d0
label Ball_beccf45f_963e_4d11_987f_c8dda6cd0f23
push this 8
not
if-goto Ball_87dfc38a_398b_4f66_b1bd_459ea61c100c
push this 7
not
if-goto Ball_e09386a7_0670_4cf5_8d51_f1622c23b7b5
push this 1
push constant 4
add
pop this 1
goto Ball_53e0dbf7_6ae3_4ff9_86e9_812eafdc324c
label Ball_e09386a7_0670_4cf5_8d51_f1622c23b7b5
push this 0
push constant 4
add
pop this 0
label Ball_53e0dbf7_6ae3_4ff9_86e9_812eafdc324c
goto Ball_60fba0c2_f67c_475b_9441_f6ab6d41e54e
label Ball_87dfc38a_398b_4f66_b1bd_459ea61c100c
push this 7
not
if-goto Ball_af46d394_8644_4860_ad25_eb7f9d46915a
push this 1
push constant 4
sub
pop this 1
goto Ball_5d8e134d_3b5b_4a91_b3e9_e9a2127ca72f
label Ball_af46d394_8644_4860_ad25_eb7f9d46915a
push this 0
push constant 4
sub
pop this 0
label Ball_5d8e134d_3b5b_4a91_b3e9_e9a2127ca72f
label Ball_60fba0c2_f67c_475b_9441_f6ab6d41e54e
push this 0
push this 10
gt
not
not
if-goto Ball_2251a885_c47d_4f34_91d4_6d87fe51daca
push constant 1
pop this 14
push this 10
pop this 0
label Ball_2251a885_c47d_4f34_91d4_6d87fe51daca
push this 0
push this 11
lt
not
not
if-goto Ball_f23913ed_ab57_40fa_b1cd_e1cf7ac1c59d
push constant 2
pop this 14
push this 11
pop this 0
label Ball_f23913ed_ab57_40fa_b1cd_e1cf7ac1c59d
push this 1
push this 12
gt
not
not
if-goto Ball_2f903579_a694_4456_a4ec_bf3924619aae
push constant 3
pop this 14
push this 12
pop this 1
label Ball_2f903579_a694_4456_a4ec_bf3924619aae
push this 1
push this 13
lt
not
not
if-goto Ball_7f4db203_be8e_45f0_9f75_f9e9ecc51370
push constant 4
pop this 14
push this 13
pop this 1
label Ball_7f4db203_be8e_45f0_9f75_f9e9ecc51370
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 0
push constant 0
eq
not
if-goto Ball_0554ee84_cf1c_4bfb_87af_1b7e1a9e9ae7
push constant 10
pop local 4
goto Ball_a8b7d00c_cb78_4490_ad89_c50a1eed3e0f
label Ball_0554ee84_cf1c_4bfb_87af_1b7e1a9e9ae7
push this 2
push constant 0
lt
not
push argument 0
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 0
push constant 1
neg
eq
and
or
not
if-goto Ball_6637d7e6_388e_4a6d_90ff_74f6ce77c307
push constant 20
pop local 4
goto Ball_7010778b_6776_4f69_9dbc_5409d08579d2
label Ball_6637d7e6_388e_4a6d_90ff_74f6ce77c307
push constant 5
pop local 4
label Ball_7010778b_6776_4f69_9dbc_5409d08579d2
label Ball_a8b7d00c_cb78_4490_ad89_c50a1eed3e0f
push this 14
push constant 1
eq
not
if-goto Ball_a4d5168c_1cc4_4eab_afd3_e10f615085aa
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_d4b65aeb_7946_4845_aaca_199be42acf4e
label Ball_a4d5168c_1cc4_4eab_afd3_e10f615085aa
push this 14
push constant 2
eq
not
if-goto Ball_4b44104c_4e72_4aa2_9011_786c22d526e4
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto Ball_15b0f7ef_876b_4aee_8904_096553598779
label Ball_4b44104c_4e72_4aa2_9011_786c22d526e4
push this 14
push constant 3
eq
not
if-goto Ball_263ee934_a8ad_4a5a_8989_20cf35bb14c7
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto Ball_610e1a7f_c560_4dba_bb1c_0590402fbc25
label Ball_263ee934_a8ad_4a5a_8989_20cf35bb14c7
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label Ball_610e1a7f_c560_4dba_bb1c_0590402fbc25
label Ball_15b0f7ef_876b_4aee_8904_096553598779
label Ball_d4b65aeb_7946_4845_aaca_199be42acf4e
push local 0
push local 1
push pointer 0
call Ball.setDestination 3
pop temp 0
push constant 0
return
