function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label PongGame_d926e289_1592_4023_83e3_34fb7ab9f92b
push this 3
not
not
if-goto PongGame_cf88ec6a_98dc_40c3_be49_e6d93614de05
label PongGame_11f4df29_dd80_4e9a_acc5_0ad24c106a68
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto PongGame_4f110b4e_8db8_4cc2_bd56_6b72fe9ed278
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_11f4df29_dd80_4e9a_acc5_0ad24c106a68
label PongGame_4f110b4e_8db8_4cc2_bd56_6b72fe9ed278
push local 0
push constant 130
eq
not
if-goto PongGame_181c917d_7e3c_4a55_b28d_4ad054d47c31
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto PongGame_296fa360_3f09_4590_9b91_839fb4e12753
label PongGame_181c917d_7e3c_4a55_b28d_4ad054d47c31
push local 0
push constant 132
eq
not
if-goto PongGame_9360d69d_52a7_4691_a874_8a3a7a086d4a
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto PongGame_279cadc0_c008_42c6_8852_5ff1befe5ac8
label PongGame_9360d69d_52a7_4691_a874_8a3a7a086d4a
push local 0
push constant 140
eq
not
if-goto PongGame_89f33288_d0f3_4441_b435_b0f765d2da9a
push constant 1
neg
pop this 3
label PongGame_89f33288_d0f3_4441_b435_b0f765d2da9a
label PongGame_279cadc0_c008_42c6_8852_5ff1befe5ac8
label PongGame_296fa360_3f09_4590_9b91_839fb4e12753
label PongGame_8acce9b9_29e1_4e85_ae25_76395099c010
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto PongGame_54f40704_7dc9_4691_8a2d_479b4f75d37f
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_8acce9b9_29e1_4e85_ae25_76395099c010
label PongGame_54f40704_7dc9_4691_8a2d_479b4f75d37f
goto PongGame_d926e289_1592_4023_83e3_34fb7ab9f92b
label PongGame_cf88ec6a_98dc_40c3_be49_e6d93614de05
push this 3
not
if-goto PongGame_135abfee_93a9_467c_82cc_8f381016c11f
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label PongGame_135abfee_93a9_467c_82cc_8f381016c11f
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto PongGame_b2bf8867_9619_4ee3_a525_ace16b6cbbf9
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto PongGame_52c1c751_cc2a_49d3_bd7f_16a0aac16487
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto PongGame_76f0e543_6abb_472f_89e1_cc5d594f21bb
push local 4
push local 1
push constant 10
add
lt
not
if-goto PongGame_78ab29c3_dfac_4bc0_b6fe_cf2efbd46705
push constant 1
neg
pop local 0
goto PongGame_66cd497b_e8d4_4202_b19d_c0416f496116
label PongGame_78ab29c3_dfac_4bc0_b6fe_cf2efbd46705
push local 3
push local 2
push constant 10
sub
gt
not
if-goto PongGame_d2bfa505_2046_465d_8298_2fe6950dc6c9
push constant 1
pop local 0
label PongGame_d2bfa505_2046_465d_8298_2fe6950dc6c9
label PongGame_66cd497b_e8d4_4202_b19d_c0416f496116
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label PongGame_76f0e543_6abb_472f_89e1_cc5d594f21bb
label PongGame_52c1c751_cc2a_49d3_bd7f_16a0aac16487
push this 1
push local 0
call Ball.bounce 2
pop temp 0
label PongGame_b2bf8867_9619_4ee3_a525_ace16b6cbbf9
push constant 0
return
