function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label PongGame_e8ef66ac_eeec_4fe2_828f_c19631e16cc9
push this 3
not
not
if-goto PongGame_ff3a58eb_e709_4536_8c56_6dce5960a334
label PongGame_60f13936_4ea6_4f18_89ca_ce532a9cfcb8
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto PongGame_e37214b7_ca3e_4940_ad22_5eb71689f153
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_60f13936_4ea6_4f18_89ca_ce532a9cfcb8
label PongGame_e37214b7_ca3e_4940_ad22_5eb71689f153
push local 0
push constant 130
eq
not
if-goto PongGame_bb17926e_e0c0_4479_8bcd_5a32da5d6bbd
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto PongGame_6c8896cc_048e_4388_bf0c_e8f716b5237c
label PongGame_bb17926e_e0c0_4479_8bcd_5a32da5d6bbd
push local 0
push constant 132
eq
not
if-goto PongGame_cca86cd5_cbb4_495b_a93f_bf1bbbe02916
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto PongGame_00802969_7b74_4c06_bcc3_9c40fa640a6b
label PongGame_cca86cd5_cbb4_495b_a93f_bf1bbbe02916
push local 0
push constant 140
eq
not
if-goto PongGame_94f85d5c_4dfb_4e1a_a9e0_356af8133b04
push constant 1
neg
pop this 3
label PongGame_94f85d5c_4dfb_4e1a_a9e0_356af8133b04
label PongGame_00802969_7b74_4c06_bcc3_9c40fa640a6b
label PongGame_6c8896cc_048e_4388_bf0c_e8f716b5237c
label PongGame_9d1d4ad0_ad5e_4e01_8e93_e600fc0e3c40
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto PongGame_798701c0_ec33_406f_8417_1d694cb3bea8
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_9d1d4ad0_ad5e_4e01_8e93_e600fc0e3c40
label PongGame_798701c0_ec33_406f_8417_1d694cb3bea8
goto PongGame_e8ef66ac_eeec_4fe2_828f_c19631e16cc9
label PongGame_ff3a58eb_e709_4536_8c56_6dce5960a334
push this 3
not
if-goto PongGame_ea74844e_d795_49a7_95f7_ff1b36ca0118
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label PongGame_ea74844e_d795_49a7_95f7_ff1b36ca0118
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto PongGame_4ffe6626_9a9f_4870_b9a2_3a89937c6ccc
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto PongGame_6222f2da_3d82_4814_a8c0_8b80b7357c51
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto PongGame_f023dffc_aeb4_4a12_b1d9_e0acb9fb2d92
push local 4
push local 1
push constant 10
add
lt
not
if-goto PongGame_48bb0591_7522_41c4_aa37_09109ead4efb
push constant 1
neg
pop local 0
goto PongGame_db5d775e_c4b6_402b_8540_d5b9efd58fdd
label PongGame_48bb0591_7522_41c4_aa37_09109ead4efb
push local 3
push local 2
push constant 10
sub
gt
not
if-goto PongGame_a5cf44d3_9cb5_4947_ad99_b8a027e4b18d
push constant 1
pop local 0
label PongGame_a5cf44d3_9cb5_4947_ad99_b8a027e4b18d
label PongGame_db5d775e_c4b6_402b_8540_d5b9efd58fdd
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label PongGame_f023dffc_aeb4_4a12_b1d9_e0acb9fb2d92
label PongGame_6222f2da_3d82_4814_a8c0_8b80b7357c51
push this 1
push local 0
call Ball.bounce 2
pop temp 0
label PongGame_4ffe6626_9a9f_4870_b9a2_3a89937c6ccc
push constant 0
return
