function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop local 0
push constant 0
return
function PongGame.getInstance 0
push local 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label PongGame_149285fa_5274_4884_be26_ac485bb9a6fa
push this 3
not
not
if-goto PongGame_12e62373_0500_4f95_9c1c_311918dbe576
label PongGame_8bd2dda8_7b7c_4ec5_9acf_849afd9dc574
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto PongGame_31d56bc5_b025_4343_8f7a_24d232494550
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_8bd2dda8_7b7c_4ec5_9acf_849afd9dc574
label PongGame_31d56bc5_b025_4343_8f7a_24d232494550
push local 0
push constant 130
eq
not
if-goto PongGame_da3ce87a_9eb1_4b38_a473_30c0fd5ae928
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto PongGame_68647559_5066_40ea_afd2_12be2229057a
label PongGame_da3ce87a_9eb1_4b38_a473_30c0fd5ae928
push local 0
push constant 132
eq
not
if-goto PongGame_9998ca78_abdc_4c7d_aaaf_67dd855281ff
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto PongGame_91d628d8_6a1f_4031_8127_c365e69ca6b2
label PongGame_9998ca78_abdc_4c7d_aaaf_67dd855281ff
push local 0
push constant 140
eq
not
if-goto PongGame_d128efb4_d5a0_4db1_bab3_db8212aa4e91
push constant 1
neg
pop this 3
label PongGame_d128efb4_d5a0_4db1_bab3_db8212aa4e91
label PongGame_91d628d8_6a1f_4031_8127_c365e69ca6b2
label PongGame_68647559_5066_40ea_afd2_12be2229057a
label PongGame_4466741e_d181_4727_990d_723148e97601
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto PongGame_cdda5037_6ed0_4f2d_bc44_13ff69f86e86
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto PongGame_4466741e_d181_4727_990d_723148e97601
label PongGame_cdda5037_6ed0_4f2d_bc44_13ff69f86e86
goto PongGame_149285fa_5274_4884_be26_ac485bb9a6fa
label PongGame_12e62373_0500_4f95_9c1c_311918dbe576
push this 3
not
if-goto PongGame_ed57bc3a_955e_452a_ad44_5decc3d089b0
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label PongGame_ed57bc3a_955e_452a_ad44_5decc3d089b0
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto PongGame_31de1f86_b2ad_4b41_9f79_e3842241b838
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto PongGame_3240a5da_6ddf_4296_8c97_9f685573d73c
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto PongGame_b5c16e72_306e_4dce_835b_b03715de085f
push local 4
push local 1
push constant 10
add
lt
not
if-goto PongGame_85b325bb_4276_4964_af6a_2c9b79bb762e
push constant 1
neg
pop local 0
goto PongGame_714ffc46_8825_4331_8c66_340ebfa153de
label PongGame_85b325bb_4276_4964_af6a_2c9b79bb762e
push local 3
push local 2
push constant 10
sub
gt
not
if-goto PongGame_ea7e0258_19eb_4ffa_b846_27fadaa1b7cb
push constant 1
pop local 0
label PongGame_ea7e0258_19eb_4ffa_b846_27fadaa1b7cb
label PongGame_714ffc46_8825_4331_8c66_340ebfa153de
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label PongGame_b5c16e72_306e_4dce_835b_b03715de085f
label PongGame_3240a5da_6ddf_4296_8c97_9f685573d73c
push this 1
push local 0
call Ball.bounce 2
pop temp 0
label PongGame_31de1f86_b2ad_4b41_9f79_e3842241b838
push constant 0
return
