function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame_4bd8b491_0b47_49eb_90ec_63b3b4fbcab4
push this 0
call Square.moveUp 1
pop temp 0
label SquareGame_4bd8b491_0b47_49eb_90ec_63b3b4fbcab4
push this 1
push constant 2
eq
not
if-goto SquareGame_1abc27f9_4956_4874_8ec3_f0885f192791
push this 0
call Square.moveDown 1
pop temp 0
label SquareGame_1abc27f9_4956_4874_8ec3_f0885f192791
push this 1
push constant 3
eq
not
if-goto SquareGame_3ac30a2a_fa1e_44ec_b1be_7629df62bff1
push this 0
call Square.moveLeft 1
pop temp 0
label SquareGame_3ac30a2a_fa1e_44ec_b1be_7629df62bff1
push this 1
push constant 4
eq
not
if-goto SquareGame_775f7aa7_335b_4b41_b3bb_e710b735d2e1
push this 0
call Square.moveRight 1
pop temp 0
label SquareGame_775f7aa7_335b_4b41_b3bb_e710b735d2e1
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame_d66d4dde_e100_4184_ab6c_dd0c0483d2f4
push local 1
not
not
if-goto SquareGame_6dc1e1f8_14d5_466c_accd_2ca320693947
label SquareGame_9bdcef76_0dab_4fef_b23d_e1e3c3be2ced
push local 0
push constant 0
eq
not
if-goto SquareGame_502f6886_0846_4ac2_8027_2b1780d31a29
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame_9bdcef76_0dab_4fef_b23d_e1e3c3be2ced
label SquareGame_502f6886_0846_4ac2_8027_2b1780d31a29
push local 0
push constant 81
eq
not
if-goto SquareGame_275094e1_c748_4bb9_8172_3742a3c9c5a4
push constant 1
neg
pop local 1
label SquareGame_275094e1_c748_4bb9_8172_3742a3c9c5a4
push local 0
push constant 90
eq
not
if-goto SquareGame_6a733d6e_82d2_4dba_8a31_88f6db289af6
push this 0
call Square.decSize 1
pop temp 0
label SquareGame_6a733d6e_82d2_4dba_8a31_88f6db289af6
push local 0
push constant 88
eq
not
if-goto SquareGame_7993d7ef_441f_46c9_915f_f908248f67b4
push this 0
call Square.incSize 1
pop temp 0
label SquareGame_7993d7ef_441f_46c9_915f_f908248f67b4
push local 0
push constant 131
eq
not
if-goto SquareGame_99bed299_7aac_4bea_8cb8_caceee0da48f
push constant 1
pop this 1
label SquareGame_99bed299_7aac_4bea_8cb8_caceee0da48f
push local 0
push constant 133
eq
not
if-goto SquareGame_f9f58513_234c_4487_944c_711ca95e12ba
push constant 2
pop this 1
label SquareGame_f9f58513_234c_4487_944c_711ca95e12ba
push local 0
push constant 130
eq
not
if-goto SquareGame_d33e90ae_3d6a_45b2_9a82_05b16683338e
push constant 3
pop this 1
label SquareGame_d33e90ae_3d6a_45b2_9a82_05b16683338e
push local 0
push constant 132
eq
not
if-goto SquareGame_d7e939ce_4c21_4a54_8364_abcbb5c24756
push constant 4
pop this 1
label SquareGame_d7e939ce_4c21_4a54_8364_abcbb5c24756
label SquareGame_52f94b81_4cea_410d_aa40_ce5f6754bbdf
push local 0
push constant 0
eq
not
not
if-goto SquareGame_448604ca_3001_4732_aa4b_b1d0791e8d51
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame_52f94b81_4cea_410d_aa40_ce5f6754bbdf
label SquareGame_448604ca_3001_4732_aa4b_b1d0791e8d51
goto SquareGame_d66d4dde_e100_4184_ab6c_dd0c0483d2f4
label SquareGame_6dc1e1f8_14d5_466c_accd_2ca320693947
push constant 0
return
