function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame_56733c58_804b_4be5_840d_bfbc13848c5b
push this 0
call Square.moveUp 1
pop temp 0
label SquareGame_56733c58_804b_4be5_840d_bfbc13848c5b
push this 1
push constant 2
eq
not
if-goto SquareGame_61c2e56a_2016_4f49_955b_5858c7cfbd9f
push this 0
call Square.moveDown 1
pop temp 0
label SquareGame_61c2e56a_2016_4f49_955b_5858c7cfbd9f
push this 1
push constant 3
eq
not
if-goto SquareGame_678383dc_6c02_48d7_b2bb_5caff8e49ac8
push this 0
call Square.moveLeft 1
pop temp 0
label SquareGame_678383dc_6c02_48d7_b2bb_5caff8e49ac8
push this 1
push constant 4
eq
not
if-goto SquareGame_8e784a3e_6dec_4bd2_8e35_133db2a06589
push this 0
call Square.moveRight 1
pop temp 0
label SquareGame_8e784a3e_6dec_4bd2_8e35_133db2a06589
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame_3001107c_d83a_4e33_8dc2_9211bf31d8d8
push local 1
not
not
if-goto SquareGame_bb913ee8_4319_4a55_aa4c_cfe8a343062f
label SquareGame_49b36d09_4623_46d5_966b_a3217737d85f
push local 0
push constant 0
eq
not
if-goto SquareGame_d4b95090_fedc_42cb_84b6_84e16bf0d054
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame_49b36d09_4623_46d5_966b_a3217737d85f
label SquareGame_d4b95090_fedc_42cb_84b6_84e16bf0d054
push local 0
push constant 81
eq
not
if-goto SquareGame_39a865ab_a47d_499b_aaae_128b017e2a6f
push constant 1
neg
pop local 1
label SquareGame_39a865ab_a47d_499b_aaae_128b017e2a6f
push local 0
push constant 90
eq
not
if-goto SquareGame_851b4075_8850_44ab_b27c_70c871a2a184
push this 0
call Square.decSize 1
pop temp 0
label SquareGame_851b4075_8850_44ab_b27c_70c871a2a184
push local 0
push constant 88
eq
not
if-goto SquareGame_ad4526e8_bac1_43e7_81b1_af4b6c1be3bd
push this 0
call Square.incSize 1
pop temp 0
label SquareGame_ad4526e8_bac1_43e7_81b1_af4b6c1be3bd
push local 0
push constant 131
eq
not
if-goto SquareGame_563de7f3_277d_45e2_8a2a_f3b6fd609749
push constant 1
pop this 1
label SquareGame_563de7f3_277d_45e2_8a2a_f3b6fd609749
push local 0
push constant 133
eq
not
if-goto SquareGame_690186f8_8fe9_4312_ac13_de5e2c6e8c2d
push constant 2
pop this 1
label SquareGame_690186f8_8fe9_4312_ac13_de5e2c6e8c2d
push local 0
push constant 130
eq
not
if-goto SquareGame_e9a6d36b_1b2b_4bce_b228_44ab817e8df7
push constant 3
pop this 1
label SquareGame_e9a6d36b_1b2b_4bce_b228_44ab817e8df7
push local 0
push constant 132
eq
not
if-goto SquareGame_55745c67_4e02_4ca2_add0_f4beb598b57f
push constant 4
pop this 1
label SquareGame_55745c67_4e02_4ca2_add0_f4beb598b57f
label SquareGame_3a51321f_db63_4862_8903_f15c597aec8b
push local 0
push constant 0
eq
not
not
if-goto SquareGame_6612f4c1_128f_4a9c_ab6c_0222c01b195b
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame_3a51321f_db63_4862_8903_f15c597aec8b
label SquareGame_6612f4c1_128f_4a9c_ab6c_0222c01b195b
goto SquareGame_3001107c_d83a_4e33_8dc2_9211bf31d8d8
label SquareGame_bb913ee8_4319_4a55_aa4c_cfe8a343062f
push constant 0
return
