function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label Main_6927d6ed_b032_4307_b98d_de30e5a85506
push local 2
not
if-goto Main_0eebb8d4_ed55_475d_86e0_20894cb9c6c2
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto Main_e23fc017_570d_4715_bbfe_6c808a0bb505
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto Main_a294e587_1b8e_43bc_92c9_dc2610175608
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto Main_e8212044_f5ea_4add_9bca_803ae538c8ce
label Main_a294e587_1b8e_43bc_92c9_dc2610175608
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label Main_e8212044_f5ea_4add_9bca_803ae538c8ce
goto Main_24160627_e1d3_4c81_bdc4_d57635c6b9e8
label Main_e23fc017_570d_4715_bbfe_6c808a0bb505
push constant 0
pop local 2
label Main_24160627_e1d3_4c81_bdc4_d57635c6b9e8
goto Main_6927d6ed_b032_4307_b98d_de30e5a85506
label Main_0eebb8d4_ed55_475d_86e0_20894cb9c6c2
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto Main_0d27e441_1d37_48a4_85d0_76726ea13183
push constant 1
return
goto Main_0307f380_9319_43e6_9477_2ac367a7ecfe
label Main_0d27e441_1d37_48a4_85d0_76726ea13183
push argument 0
push constant 2
call Math.multiply 2
return
label Main_0307f380_9319_43e6_9477_2ac367a7ecfe
function Main.fillMemory 0
label Main_7b9e290c_a667_4541_adb8_eff51046bc6c
push argument 1
push constant 0
gt
not
if-goto Main_27d2fc81_9526_4feb_8701_e390df88e044
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto Main_7b9e290c_a667_4541_adb8_eff51046bc6c
label Main_27d2fc81_9526_4feb_8701_e390df88e044
push constant 0
return
